<section>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerProductForm">
        <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" formControlName="titulo" id="titulo"
                placeholder="Digite o nome do produto" required>
        </div>
        <div class="form-group">
            <label for="preco">Preço</label>
            <input type="text" class="form-control" formControlName="preco" id="preco"
                placeholder="Digite o preço do produto" required>
        </div>
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" formControlName="descricao" id="descricao" placeholder="Descrição do produto">
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</section>